[2016-04-15 14:09] 0xPr0xy opened #5 "Error generating classes from xsd"
Hello,

I'm trying to use your library in my project, but unfortunately an exception is thrown while executing the generate method.

This is the stack trace I'm getting: [stacktrace](https://gist.github.com/0xPr0xy/3a389f3bf7a6df307d8b975bcba86790)

This is the code that calls the generate() method:

`$xsdDirectory = $this->getXsdDirectory();`
`$modelDirectory = $this->getModelDirectory();`
`$gene

[2016-04-25 21:38] dcarbone commented on #5
Hi,

I am really sorry it took me so long to get to this!  I just started a new job which has been taking up all of my time.  The majority of more recent development on this lib has been against 1.0.2, so I am not surprised I missed something in support of 0.0.82.

I will take a look at this tonight and hopefully get a fix for you soon.

[2016-04-26 05:26] dcarbone commented on #5
Hey @0xPr0xy,

When you get a chance, could you test your implementation with the new 0.4.2 release?  I hope I have taken care of the issue.

If not, could you paste the error message itself into this issue?  It should contain the full XML of the element that failed to parse and will help me with debugging.

Thanks!

[2016-05-02 08:14] 0xPr0xy opened #6 "Generation of class properties from elements in XSD choice definition is not working"
[code]

The PropertyGenerator does not seem to handle this choice element correctly. The output is a class without the diagnosticDateTime and diagnosticPeriod properties, If I put the elements on the same level as the choice definition they are picked up and created on the model correctly.

[2016-05-02 10:57] #6 closed

[2016-05-02 11:03] 0xPr0xy opened #7 "The id property is always added as a child element instead of an attribute"
In MethodGenerator.php implementXMLSerialize() method,
The id property is always added as a new child element. I think this is incorrect behavious.
Looking at the fhir spec the id of an element is always specified as an attribute of that element.

It could be solved by doing a check on the property value, and in case of an id, add it as attribute.

[2016-05-02 11:29] 0xPr0xy commented on #5
@dcarbone Thanks! the 0.4.2 release resolved this issue, and elements nested in choice elements are now also generated correctly with the 0.8.2 version.

[2016-05-02 14:46] dcarbone commented on #5
Good to hear, thanks!

[2016-05-02 14:46] #5 closed

[2016-05-02 15:12] dcarbone commented on #7
@0xPr0xy: I'm not entirely certain that is correct.  An ID Element is technically an extension of the base Element class.  This means that it can contain Extension elements, and an ID primitive element of it's own aside from it's "value".

The ID Element does have an ID primitive that is represented as an attribute on the exported ID element, but the ID element itself is not a primitive and as a r

[2016-05-03 07:27] 0xPr0xy commented on #7
@dcarbone I understand you reasoning, and looking at the fhir spec I see this behaviour is correct. However I am unclear as to how I can achieve the following result using your bundle: (example xml message for the koppeltaal server based on fhir) https://gist.github.com/0xPr0xy/8c823bb71db4c281e696facfa9e69e3f, (note the id attribute of the MessageHeader and CarePlan.) Perhaps I should create a fo

[2016-05-03 12:57] dcarbone commented on #7
Hmm. Well it should be fine if I updated it to do both, or perhaps create a config array that gets passed in to the `parse` method of the generator that has a key like `xml-export => [id-as-attribute => true]`, or something like that.

Do you have examples of other primitive wrapper elements that are turned into attributes or is ID the only one?

[2016-05-04 17:39] dcarbone commented on #7
@0xPr0xy: I'm going to re-open this as you bring up a valid point, and I believe this lib should be made to accommodate situations like yours as much as possible.

I have a few other things in the pipeline before I can being addressing this, but I do want to keep it in mind.

[2016-05-10 14:45] kchapple opened #8 "fhir_comments not supported on Meta element"
Here is message form exception: "Could not find mapped property called "fhir_comments" on object "Meta".  This could indicate malformed response or bug in class generator."

[2016-05-10 14:47] dcarbone commented on #8
@kchapple: Hey Ken,

What version of FHIR are you using when you encounter this error?

[2016-05-10 14:49] kchapple commented on #8
I am using dev-master. Here's my composer.json:
...
    "repositories":
    [
      {
      "type": "vcs",
      "url": "https://github.com/dcarbone/php-fhir.git"
    }
    ],
    "require": {
        "php": ">=5.5.9",
        "laravel/framework": "5.2.*",
        "jeroen-g/laravel-packager": "^1.3",
        "dcarbone/php-fhir": "dev-master"
    },
...

[2016-05-10 14:50] dcarbone commented on #8
No, sorry, the FHIR spec.  DSTU2?

[2016-05-10 14:52] kchapple commented on #8
Version is 2.6. Here is my Gen script:
[code]

FYI, this is not a blocker or anything, just thought I'd let you know.

[2016-05-10 14:59] dcarbone commented on #8
Hmm alright, looking at the actual definition of the Meta element (line 3910 in "fhir-base.xsd") I do not see a "fhir_comment" element.

This is actually a good use case of an issue I've been thinking about for awhile: How to handle server responses which vary from the spec.  Technically speaking in most cases these differences are probably benign, with the only real downside being I cannot specif

[2016-05-10 15:01] kchapple commented on #8
That's funny, I got the sample request from their documentation pages. I wonder why it's not in the schema definition.

For Example:
https://www.hl7.org/fhir/bundle-transaction.json.html

[2016-05-10 15:03] kchapple commented on #8
There is support for extensions:

Here's an example patient with extensions for compliance statement checkboxes:

[code]

[2016-05-10 15:05] dcarbone commented on #8
Sure sure, however the "fhir_comment" property does not follow the extension model. It is seemingly defined as a root property on all objects, extension or otherwise.

With that in mind, however, I can pretty easily account for this.  I need to do additional work on the JSON parsing / exporting anyway, so this is a good opportunity to just go ahead and do it.

[2016-05-10 15:09] kchapple commented on #8
Yeah, in the examples they seem to just stick the fhir_comment property anywhere, LOL. Sometimes it's in a sibling element, sometimes at the root. I wonder if it is just intended for documenting the examples, and should be ignored entirely by your parser.

[2016-07-29 20:56] asc-net opened #14 "'UnexpectedValueException' with message 'Value 'Quantity' is not part of the enum"
After installing package and try your example I got :

[code]

Fatal error: Uncaught exception 'UnexpectedValueException' with message 'Value 'Quantity' is not part of the enum DCarbone\PHPFHIR\ClassGenerator\Enum\BaseObjectTypeEnum'

[2016-07-29 21:10] dcarbone commented on #14
What version of the XSD's were you using?  I am able to run the generator against DSTU1, DSTU2, and STU3 codegen files.

[2016-07-29 21:47] asc-net commented on #14
I am not sure what is the version, I used XSD folder attached to your package ,
to be precise, I attached this comment with folder I tried to use in the code

[xsd.zip](https://github.com/dcarbone/php-fhir/files/391445/xsd.zip)

[2016-07-30 05:26] dcarbone commented on #14
I do not provide any xsd's, but it looks like this is a bleeding-edge release.  I currently only focus support on "official" releases (as of this moment they are: 0.0.82, 1.0.2, 1.4.0.  You are using 1.5.0), but I will begin work on compatibility for this new version as well.

[2016-08-17 15:11] dcarbone commented on #7
Closing as this functionality was handled thanks to @0xPr0xy in #15!

[2016-08-17 15:11] #7 closed

[2016-11-10 21:05] jdewit opened #17 "XML attribute override applies to all models with a property of the same name."
Currently the override for xml serialization will apply to any model that has the property defined in the override. It's a little presumptuous to assume this is desired for every model that may have a property with the same name. It would be better if we were specific in which model and which property to override to avoid unintended side effects.

[2016-11-11 17:43] #17 closed

[2016-11-20 22:46] dataground commented on #14
STU3 will be released soon, i also need the support. I have fixed this bug. Please see my pull request #19

[2016-11-20 22:49] dataground commented on #14
I have tested it with these versions:

Current stable versions:
http://hl7.org/fhir/DSTU1/fhir-all-xsd.zip
http://hl7.org/fhir/DSTU2/fhir-all-xsd.zip

STU3 (release candidate & nightly build)
http://hl7.org/fhir/2016Sep/fhir-all-xsd.zip
http://build.fhir.org/fhir-all-xsd.zip

[2016-11-21 01:06] #14 closed

[2017-02-23 11:02] garywarner opened #20 "SimpleQuantity serialising twice"
I've been using the Generator very successfully against DSTU-2 (from https://www.hl7.org/fhir/fhir-all-xsd.zip on 22-Feb-2016). I've grabbed the sample Immunisation xml from https://www.hl7.org/fhir/immunization-example.xml.html. It parses in beautifully. However, taking that parsed object (which only contains one SimpleQuantity under doseQuantity) and using xmlSerialise() to do a unit test produc

[2017-02-24 00:21] dcarbone commented on #20
Well that's annoying, now isn't it.  As for their location...I genuinely don't remember why I did that :P

Thanks for the bug report, I'll get it resolved this weekend.

[2017-02-26 17:18] dcarbone commented on #20
@garywarner I have checked in some changes that will hopefully solve and prevent this issue going forwards, and all `Quantity` classes are now under their own namespace under `Element`.

Let me know if this works for you!

[2017-02-27 05:36] garywarner commented on #20
@dcarbone Worked first time - thank you

[2017-02-27 05:36] #20 closed

[2017-07-15 15:31] leonrenkema opened #24 "HTML output for a narrative element"
I am trying to generate a narrative for a patient but the generated xml doesnt look correct.

Below is the generated XML where the actual text is added to a value attribute of the div element and the XML namespace is missing.

`<text>
     <status value="generated"/>
     <div value="&lt;p&gt;Voorbeeld van een 'Patient' zoals verder samengesteld tijdens de HL7 WGM NL 15-04-2016 jl. Deze discussie

[2017-07-16 03:54] dcarbone commented on #24
@leonrenkema: hey, thanks for the suggestion.  Unfortunately I've not had a great deal of time to implement a lot of the features I'd like to have in this lib, but I have come up with a quick fix that I hope will be satisfactory.

I have modified code identified as "html" to serialize as an XML CDATA element under their parent element.

So, this:

[code]

will now be this:

[code]

I have pushed t

[2017-07-17 16:15] leonrenkema commented on #24
Thanks for the fix but I'dont think it is correct this way. The div element is missing now. I think the desired output should be the following.

[code]

I'm playing around with the generator and trying to generate it the correct way, but SimpleXML is sometimes to simple for these complex use-cases. I will look if I can make a PR that will fix this.

[2017-07-17 17:07] dcarbone commented on #24
@leonrenkema: the div element isn't missing, it is inside the CDATA block.  It is generally not a great idea to put raw HTML inside of an XML document as HTML can be written in a much less strict fashion than XML.

[2017-07-17 17:37] leonrenkema commented on #24
Yes, i know. When I look at the FHIR spec it requires a div element within the xhtml namespace. https://www.hl7.org/fhir/narrative.html
The div element as cdata does not validate against the XSD.

[2017-07-17 17:57] dcarbone commented on #24
Ah, you are entirely correct.  I also do not like my current implementation as it requires php dom to be installed as well as php xml.  I have found a few clever solutions to this issue, and will implement one asap.

[2017-07-17 18:04] leonrenkema commented on #24
Tnx.
I have worked a lot with xmlwriter in php and that is more flexible than simplexml for generating this kind of xml. I have used it for generating hl7v3 documents.

[2017-07-17 21:16] dcarbone commented on #24
Alrighty, I have pushed an update.  I'm not certain I'm happy with the implementation, but if it works for you I will leave as-is until an issue arises.

The output now looks like this:

[code]

[2017-07-17 22:54] mikesoule opened #25 "JSON serialization is implemented incorrectly"
Hi,

Great library, thank you for open sourcing it!

I found a bug when serializing FHIR objects to JSON. Serializing the Patient.json example from the FHIR website will produce the output below, where quotes and whitespace a escaped multiple times.

The reason is because several of the jsonSerialize() methods are returning serialized JSON via json_encode(). The method jsonSerialize() should actua

[2017-07-17 23:47] dcarbone commented on #25
Thanks for the find!  Pretty silly oversight on my part. If you'd like, go ahead and make a PR and we'll go from there.

The current implementation was developed against 5.3.3, hence all the direct calls to jsonSerialize. Since the lib no longer targets 5.3, I would say just remove all direct calls to jsonSerialize.

[2017-07-18 03:53] mikesoule commented on #25
Will do!

[2017-07-18 18:26] leonrenkema commented on #24
Great, is it intended that I have to use it this way because of the namespacing?

[code]

[2017-07-18 18:47] leonrenkema opened #26 "Idea to make the PHP code less verbose"
Not a bug but maybe a nice improvement.

I'm testing the generated code and writing some FHIR resources and the PHP code looks like this. There are a lot of elements that have one value or a fixed number of values.

[code]

Maybe it is an idea to introduce a __construct so the default values can be set while constructing the objects? With those the code could look like this, a lot shorter and no n

[2017-07-19 14:14] dcarbone commented on #24
I'm not sure what you mean by your last comment, are you asking why I don't inject the namespace myself?

[2017-07-19 14:15] dcarbone commented on #25
Also please excuse the code.  It is...old :P

[2017-07-19 14:15] dcarbone commented on #26
This is an excellent idea.  I will begin working on this asap.

[2017-07-19 17:52] leonrenkema commented on #24
Yes, what I mean is why there is a difference between the setStatus and setDiv. setStatus generates the <status> element but setDiv does not generate the div element.

[code]

When I use setDiv('<p>Example</p>') the generated xml is not valid because the <div> element is missing.

[2017-07-19 17:53] leonrenkema commented on #26
Thanks for the quick response. If I can do anything please let me know.

[2017-07-20 15:41] dcarbone commented on #24
So in this context I'm hesitant to assume the existence of the `<div>` element.  I don't want to assume what attributes you apply to the element, what xsd you want to use, etc.  I think it makes much more sense for a user to actually define the entirety of the HTML.

[2017-07-21 07:38] leonrenkema commented on #24
Okay, sounds logical. From the specification I see that an optional `lang` attribute can also be added to the div element so that is possible this way.
Thanks, I think this issue can be resolved.

[2017-07-22 20:07] leonrenkema opened #27 "Parsing a Bundle resource"
I'm trying to parse and loop through this resource: [MedicationRequest](http://fhirtest.uhn.ca/baseDstu3/MedicationRequest?_include=*&_format=xml&_pretty=true) and I'm missing some method to determine the sort of resource that is included in the `FHIRResourceContainer`.
Especially for included resources this is difficult because they can be of any type.

[code]

Maybe a method `$resource = FHIRRes

[2017-07-24 13:26] dcarbone commented on #27
This is another good idea, one I've been tinkering with for awhile.  I will add this to the list.

Work is coming along on the other issues, just slowly :)

[2017-07-24 13:30] leonrenkema commented on #27
Sure, no pressure :)
I'm just dropping ideas while I'm using the library.

[2017-08-08 03:05] dcarbone commented on #27
@leonrenkema: Sorry it has taken me so long to get to this!  Life has been hectic >_<

At any rate, I have added a new method to the `FHIRResourceContainer` class called `getResource()`.  It  just calls the `jsonSerialize()` internally, but I feel it is more idiomatic to call `getResource` rather than `jsonSerialize` :p

Let me know if this works for you!

[2017-08-08 03:07] dcarbone commented on #25
@mikesoule Hey Mike, sorry it has taken me so long to get this issue sorted, but I have pushed a new version of this lib to master that, among other things, removes all of the nested calls to `json_encode`.

Let me know if this fixes the issue you're experiencing!

[2017-08-08 03:24] dcarbone commented on #26
@leonrenkema: i am still thinking this over in my head, I'm running into a few things:

h4. I am hesitant to subjectively implement constructors.
Ideally, I would like to see a system where most / all of the logic present in the generated "Parser" class is moved into the constructors for each individual class.

To do this how I'd like, it would require 2 things:
1. Implement type-hinting on setter

[2017-08-08 05:55] mikesoule commented on #25
@dcarbone Actually, my apologies. I intended to contribute but just haven't had the time to do it. Thanks for the update!

[2017-08-08 08:14] leonrenkema commented on #27
Thanks, It works!

Calling `jsonSerialize` internally doesnt matter to much, you can change it to a private method `getContainedResource` and let `jsonSerialize` and `getResource` call that one. But that are minor implementation details.

My intended code does now work as expected:
[code]

[2017-08-08 11:17] leonrenkema commented on #26
My idea was to implement it for all datatypes that can be mapped to a PHP native type. When you want to use it for all resources that becomes somewhat more difficult. Also because a lot of values are optional.

I think your example would be great to implement. But I was thinking somewhat further to simplify the code some more.
[code]
It would be nice if this can be something like this for places w

[2017-08-08 11:32] leonrenkema commented on #25
I have tried and works for me 👍

[2017-08-08 14:10] dcarbone commented on #26
Alrighty, I like the idea of making setters more intelligent.  As a part of this, I'd like to make the class vars private as well, thus forcing setter usage.  Would make it less confusing to use, I think...

[2017-08-08 14:10] dcarbone commented on #25
cool cool, is this one good to close?

[2017-08-08 14:13] dcarbone commented on #27
Ha I actually don't really like repeated methods calls like that....what about condensing it to something like `$resource = $entry->getResource();` where every getter of a `FHIResourceBundle` inherently calls `getResource()` on the `ResourceBundle` class itself?  I think that would make for a cleaner usage experience...

[2017-08-08 19:21] leonrenkema commented on #27
Sure, that would be better. I cant think of a case you want to use the FHIRResourceContainer. Calling getResource only once would also be more in line with the spec where a `<entry>` contains zero or one `<resource>` elements.

[2017-08-08 19:32] leonrenkema commented on #26
You can use `__set` to support using public attributes but still using the setters, but not everyone likes that kind of solutions because it involves magic methods.

Laravel's Eloquent uses it a lot and I must admit that I like that implementation because it makes the code very clean and readable.

But using setters also works for me, It makes it more explicit and type hinting and documentation on

[2017-08-08 19:37] dcarbone commented on #26
Ha, there will be zero magic getters and setters in this code.  They are slow and evil and should be avoided at all costs imo.

[2017-08-08 19:39] dcarbone commented on #27
Cool cool, I'll get that implemented tonight.

[2017-08-08 19:44] leonrenkema commented on #26
Heheh, it is a "hot" topic with a lot of debate :) It depends a lot on the implementation if that is done right I think.

[2017-08-08 20:02] mikesoule commented on #25
@dcarbone I'd say yes. If i find another issue with JSON encoding, I can create a new issue or just reopen this one.

[2017-08-08 20:02] #25 closed

[2017-08-10 03:02] dcarbone commented on #27
alright, pushed a new version that updates all getters that return one or more ResourceContainers to now attempt to return the underlying object(s).

Let me know if this works for you.

[2017-08-11 07:50] leonrenkema commented on #27
Great, it works 👍

[2017-08-11 14:33] dcarbone commented on #27
excellent, thanks for helping test this.

[2017-08-11 14:33] #27 closed

[2017-09-07 19:22] leonrenkema opened #28 "URL appears as element instead of attribute"
I found a problem when using an extension. When I set the URL with `setUrl()` it is rendered as an XML element instead of an attribute on the extension element.
[code]
This gives the following XML:
[code]
But should be this instead:
[code]

[2017-09-11 11:54] dcarbone commented on #28
Yeah this is an issue I wrestled with for awhile.  Since URL's can have extensions and Id's of their own, they cannot just always be attributes.  In the interest of saving time initially, I made the decision to always make them elements.

At some point in the near future I think it's reasonable to allow for more intelligent serialization where if there is an extension or id present, create an elem

[2017-09-12 08:25] leonrenkema commented on #28
I'm not sure if I understand you correctly. The URL in an extension is always rendered as an attribute, when an URI is added as value it is contained in `valueUri`.

When I change the lines in `FHIRExtension.php` to the following, it outputs correctly and URI can still be extended.
[code]

But maybe I'm missing something important here..

[2017-11-16 21:16] leonrenkema commented on #28
Any news on this issue?

[2017-11-16 21:25] dcarbone commented on #28
Unfortunately I've not had any time to devote to this lib recently, so no :\

The serialization and construction of objects is something I have in my personal backlog to improve, just need the spare time to do so.

[2017-11-17 07:54] leonrenkema commented on #28
No problem, just curious. I have looked at it for a while but it is not a simple fix and I would have to figure out how it works 😅
For now I changed the generated code.

[2017-11-21 16:01] leonrenkema commented on #28
sorry wrong button

[2017-11-21 16:03] leonrenkema commented on #28
I want to ask if it is an idea to hotfix your generated source to fix this issue and we can load that repo?

[2017-11-21 16:28] dcarbone commented on #28
i would rather not start creating hotfix branches in the generated repo, but i'll tell you what i will have some spare time with the holidays coming up later in this week.  I can spend some time figuring this issue out.

Off the top of my head, there are 2 potential big-gain solutions here:

1. Generate an interface per class in addition to concrete implementations, each var maps to the interface,

[2017-12-21 07:18] leonrenkema opened #31 "FHIRResourceContainer constructor"
Hi,

When I generate the FHIR model from the latest code in master, I bump into a problem with the constructor of the FHIRResourceContainer. This is my test code:

[code]

When I try to run this I get the following error `Call to undefined method PHPFHIRGenerated\FHIRResourceContainer::set()`. It not clear to me how this is supposed to work, there seems to be a problem in this line of the FHIRReso

[2017-12-21 20:45] dcarbone commented on #31
Yup, oversight on my part.  I unfortunately have not had time to do much with this lib recently, but I did push what I hope will be a quick fix for you.  The constructor mechanism is still very much in-development, so I expect there to be other issues as well.

Thanks for letting me know about this one!

[2018-02-09 19:47] mattkoch614 opened #32 "Double quotes when json_encode is used"
Thanks for the great library!

I'm attempting to create a simple Observation resource using FHIR 3.0.1. I generated all of the PHP classes from a downloaded set of XSD files with no issue using the instructions here. I'm running into a strange issue when I attempt to ``json_encode`` my object. See some sample code below:

[code]

This produces:

[code]

As you can see, it looks like the ``id`` and

[2018-02-09 21:40] leonrenkema commented on #32
When I try to run your code in Laravel I see the following `{"id":"1234","resourceType":"Observation","issued":"2018-02-09T22:35:33+01:00"}` but I'm using pregenerated files from a fork (https://github.com/leonrenkema/php-fhir-generated/tree/develop) there is a little bugfix in there which is not fixed in the main library.

Maybe you can test that to see if the problem still exists then?

[2018-02-09 23:53] mattkoch614 commented on #32
Happy to give this a shot when I'm able. Any idea what the bug fix is? Seems like a good opportunity to open a PR here.

[2018-02-10 22:29] dcarbone commented on #32
Yes, it is resolved in master.  I will create a bugfix version of 0.5 for those who are using a "stable" release.

I really should release 0.6 soon, i think lol...

[2018-02-10 22:57] dcarbone commented on #32
@mattkoch614 sorry for that bug, I have created release 0.5.1 that addresses this issue.  Let me know if you find anything else!

[2018-02-10 22:58] dcarbone commented on #32
oop, let me know if I can close this!

[2018-02-11 02:59] #31 closed

[2018-02-12 12:52] mattkoch614 commented on #32
Thanks for the quick response! Once I get a chance to test this I’ll report back.

[2018-02-27 22:35] dcarbone commented on #32
@mattkoch614: any updates on whether I can close this ticket?

[2018-03-20 20:09] mattkoch614 commented on #32
@dcarbone All set - I updated my version to ``0.5.1`` and re-generated my classes. I then ran through the same scenario I originally reported and the double quote issue is now gone.

Thanks for the help!

[2018-03-20 20:09] #32 closed

[2018-04-19 04:47] wwwalker opened #33 "test FHIR URL is down"
http://fhir2.healthintersections.com.au/open/ is down.

[2018-04-19 04:52] dcarbone commented on #33
So it is, and unfortunately appears as though Graham's other open servers are also not responding. In the meantime, you can try one of the other hosts here: http://wiki.hl7.org/index.php?title=Publicly_Available_FHIR_Servers_for_testing

[2018-04-19 05:07] wwwalker commented on #33
May be replace the broken URL with your new one on the Code page.

[2018-05-01 23:29] mgenereu opened #34 "Purpose of FHIRResourceContainer?"
Why are resources wrapped in FHIRResourceContainer? It looks like it's an alternative approach for polymorphism.  I also can't tell what's in a FHIRResourceContainer since it doesn't track which field is holding the resource. I had to write a helper to extract resources by class. My gut's telling me I'm using this wrong but I'm not sure where to start.  Thank you for looking at this question!

[2018-05-02 01:11] dcarbone commented on #34
I agree it can be annoying to use, however its primary reason for existence is simply that it is part of the spec.  Have a look [here](http://hl7.org/fhir/stu3/fhir-base.xsd) and search for `ResourceContainer`.

Given the special case that is this object, I have considered adding a configuration option that would allow a user to remove it from the object tree and just have it's contained object in

[2018-05-29 09:46] LucidTaZ opened #35 "ResourceContainers may only contain 1 object, "0" values provided"
I'm getting this error when trying to parse a resource with one contained resource. I believe there is a bug in how the ResourceContainer is constructed. The constructor expects one element in the parameter, but the parser constructs it with no parameters and then calls the setter separately.

Version used: the master branch of today, 2018-05-29. FHIR STU3.

For the sake of discussion, the constru

[2018-05-29 13:30] dcarbone commented on #35
@LucidTaZ: Yup, oversight on my part.  Thanks for reporting.  I've updated the generator to allow for empty input on construct.

Let me know if it works for you.

[2018-05-29 15:01] dcarbone commented on #35
I agree, however time has not been permissive :)

[2018-05-29 15:01] #35 closed

[2018-07-24 22:07] #34 closed

[2018-07-24 22:27] mgenereu opened #36 "FHIRBoolean::getValue() return type"
I think this might be under the TODO section as "Typecast scalar values in XML responses to proper PHP type". If that is the same concept, then I just need some direction to make a PR. I can't find what in this code base is generating that method in the generated class.

I'm using the generated STU3 with much success but my IDE noted that the FHIRBoolean.php file is claiming in the docblock to ret

[2018-07-25 12:44] dcarbone commented on #36
In XML all values are, by default, strings and I do no sort of unmarshalling type-casting when unmarshalling responses.  Being PHP, and having not implemented PHP 5 object and array type-hinting nor PHP 7 scalar type-hinting, the value can quite literally be whatever you want. It hinges upon you to set the correct type.

Ultimately, yes, I would like to implement type specificity throughout the ge

[2018-07-25 14:11] mgenereu commented on #36
Okay. So it's set during import of the JSON to the correct type coincidentally. Perfect. Thank you so much for the clarity.

[2018-07-25 14:11] #36 closed

[2018-11-27 12:06] leonrenkema opened #38 "Parsing extensions in json"
I found that there is a trick used in the JSON format to support extensions on a simple value. But the library appears not to support it. When I switch to the XML format there is no problem.

I get the following error when parsing an Organization `ErrorException : Could not find mapped property called "_name" on object "Organization". `

[code]

[code]

For now there is no problem because we can s

[2018-11-27 15:16] dcarbone commented on #38
That's an interesting approach.   I will probably not update the old version of the generator going forward, its code base is too complex and difficult to maintain.

I can, however, add this to the new [refactor](https://github.com/dcarbone/php-fhir/tree/feature/refactor) branch. I'll keep this open just as a reminder.

[2018-11-27 15:33] dcarbone commented on #38
You can see example output here: https://github.com/dcarbone/php-fhir-generated/tree/feature/refactor

[2019-01-14 14:38] LucidTaZ commented on #38
This would be really useful to have. In our case we use an extension on the `family` attribute of a HumanName to support Dutch family names with prefixes. Since `family` is a scalar value, we receive `_family` instead containing this extension: http://hl7.org/fhir/extension-humanname-own-prefix.html.

I tried the generator with the `feature/refactor` code but it's understandably not stable. Furthe

[2019-01-24 12:39] LucidTaZ commented on #38
I understand, but I don't have full control of the message format since it concerns an existing implementation with a customer.

[2019-02-07 14:32] Joshuaalbert opened #39 "Plans for long term support"
Hi all, great project! Do you have any concrete plans for long term support?

[2019-02-07 14:57] dcarbone commented on #39
Yes, but unfortunately only as time permits.

I have a refactor branch that is about halfway done that I hope will make
things easier for me to support going forwards.

Is there something you want to add to it?

-Daniel

On Thu, Feb 7, 2019 at 8:32 AM Joshua George Albert <
notifications@github.com> wrote:

[2019-03-28 20:11] garywarner commented on #28
Was wrestling with this and the newer versions that use the Config object allow you to override:
[code]

or if you are setting with an array call to Config __constructor
[code]

generates as an example:
[code]

@leonrenkema and @dcarbone you might consider this issue closed with this active "workaround"?

[2019-03-28 20:14] dcarbone commented on #28
@garywarner We can, however I am keeping it open with the other feature requests to remind myself of what to implement in the new upcoming release i am working on in the `feature/refactor` branch.  I reckon I am roughly 2/3 completed with the rewrite into something much easier to use and contribute to by the community, and for me to maintain.

[2019-03-28 20:18] garywarner commented on #28
@dcarbone Just big thanks for keeping up the sterling work

[2019-03-28 20:24] garywarner opened #40 "Config Constructor fails when XsdPath not provided"
Creating a Config object without passing an array with the XsdPath defined fails because the call to `setXsdPath()` in the constructor won't find the directory `null` that  it's passed when `$this->xsdPath` isn't set.

**Workaround**: Pass in the XsdPath in an initialisation array rather than using `setXsdPath()` after construction

[2019-04-08 20:53] jjwdesign opened #41 "User Notice: Could not find mapped property called "_value" on object "Identifier"."
First, thank you very much for this excellent project. This has saved people thousands of hours of development time!

I was trying to work with the Cerner API (Sandbox) at https://fhir-open.sandboxcerner.com/dstu2/0b8a0111-e8e6-4c26-a91c-5069cbc6b1ca - it's an open sandbox. It used the DSTU2 standard. When trying to retrieve Person and Patient data I was seeing a notice that the "_value" property

[2019-04-09 17:19] dcarbone commented on #41
Yeah, the current version does not have a way to handle extended json attributes on a "primitive container" type.

The refactor version is being designed with these specific use-cases in mind for both serialization and unserialization purposes.

XML should work just fine, however.

[2019-06-30 14:15] dcarbone opened #42 "Question to users: How often do you use multiple versions in the same codebase?"
As part of my refactor branch, I am working on improving the usability and efficiency of the generated code.  A piece of this is that I am now defining a suite of constants (viewable here: [constants.php](https://github.com/dcarbone/php-fhir-generated/blob/feature/refactor/src/DCarbone/PHPFHIRGenerated/constants.php)).  Due to limitations with older versions of PHP that I would still like to suppo

[2019-07-03 07:00] leonrenkema commented on #42
We only use one version, but maybe in the future we need to support multiple version because we connect with several other parties and systems.

[2019-07-04 22:08] dcarbone commented on #42
I have gone ahead and just converted it to using public constants on an abstract class (https://github.com/dcarbone/php-fhir-generated/blob/feature/refactor/src/DCarbone/PHPFHIRGenerated/PHPFHIRConstants.php)

[2019-07-04 22:08] #42 closed

[2019-07-07 22:05] yahyatabba opened #43 "is FHIR free to get data?"
hello,

is FHiR free to get data from HL7?
how to use 'php-fhir' with my server? how can I prepare the server?

Thank you

[2019-10-06 09:54] dcarbone commented on #43
@yahyatabba: apologies for the severely delayed reply:

FHIR is just a specification, it is entirely free to use.  If you're looking for test servers, a list of publicly available ones can be found here: https://wiki.hl7.org/Publicly_Available_FHIR_Servers_for_testing

[2019-10-06 09:54] #43 closed

[2019-10-18 17:58] mmcev106 opened #47 "Would it be helpful to create secondary repos containing the generated files for each FHIR version?"
It seems like it'd be ideal to be able to add composer dependency containing the already generated files for a specific FHIR version.  I'm guessing there might be a reason this isn't the preferred solution that I haven't stumbled across yet.  I'm curious...

[2019-10-18 18:07] dcarbone commented on #47
Hmm I'm not 100% sure what you mean there.  Do you mean adding them as a dependency to _this_ repo?  If so, this repo is not meant to be checked out to provide you with generated versions.  This is purely the generator itself.  Currently I have some pre-generated versions here: https://github.com/dcarbone/php-fhir-generated, but I have not been pushing versions there as often as I'd like as I'm st

[2019-10-18 21:20] mmcev106 commented on #47
I knew I was missing something!  I hadn't come across the generated repo yet.  I'll send in a PR for R4 on Monday.

[2019-10-18 21:20] #47 closed

[2019-10-21 04:19] #39 closed

[2019-10-21 04:21] dcarbone commented on #26
@leonrenkema: if you could, please try v1.0.0 of the generator (https://github.com/dcarbone/php-fhir-generated/releases/tag/v1.0.0 for the pre-generated version) and see if this addresses your concerns here.

[2019-10-21 04:24] dcarbone commented on #28
@garywarner & @leonrenkema: I had originally targeted this as part of the v1.0 release, but it appears i broke this while attempting to address something else.  sigh.  i will target this for v1.0.1

[2019-10-21 04:24] dcarbone commented on #38
@leonrenkema & @LucidTaZ: Could you please try the latest output from v1.0 and see if it works for you?

[2019-10-21 04:25] dcarbone commented on #41
@jjwdesign: could you please try the latest output from v1.0 and see if this addresses the issue for you?

[2019-10-28 12:26] shehi opened #49 "Access levels of fields in generated classes"
This generator creates "private" fields for classes generated. Would it be possible to switch this to "protected", as it is impossible to extend the generated classes otherwise? Thanks.

[2019-10-28 12:29] dcarbone commented on #49
Hmm, would it not be possible to use the getters & setters?  I don’t mind the switch, but I’m curious what the need is. Mind posting an example of what you’d like to do?

[2019-10-28 14:25] shehi commented on #49
Of course. My use case is implementing FHIR concepts as Entities in Doctrine/Symfony, and in many cases, Symfony spits at you when it sees private fields. Having them as "protected" solves a lot of problems. Thanks.

[2019-10-28 15:21] shehi opened #50 "Escape @ signs in DocBlocks"
Hi again,

Having words starting with @ sign (e.g. @value , @id) in DocBlock is causing trouble with Symfony's annotation libraries. Symfony attempts to resolve them as valid annotation bits, requesting to provide classes for such resolution:

![image](https://user-images.githubusercontent.com/653569/67691415-d5e1ba00-f99e-11e9-8172-69bdbba03d2a.png)

If escaped (e.g. ```\@value```) this problem i

[2019-10-28 19:01] dcarbone commented on #50
Ah, that is annoying.  Ok, I'll get a fix pushed here in a bit.

[2019-10-28 21:01] dcarbone commented on #50
@shehi: i've pushed the updated output to the master branch of php-fhir-generated, could you check out `dev-master` and see if its sufficiently escaped?

[2019-10-28 21:02] dcarbone commented on #49
@shehi: i've updated the classes to use `protected` instead of `private` and pushed the changes to master of `php-fhir-generated`.

If things look good, i'll create a v1.0.3 release to address this and #50.

[2019-10-29 00:03] shehi opened #51 "[Note] Fields with default value of NULL"
Hey @dcarbone ! First I wanted to thank for your quick support regarding #49 and #50 !

With this ticket I want to note that in PHP, you don't need to initiate class properties with NULL value, as it is already done by default when you declare those properties. So something like this is unnecessary:

```public $fieldName = null;```

Declaring already initializes them to a null value:

```public $f

[2019-10-29 00:14] dcarbone commented on #51
@shehi i'm aware of this, but I prefer things to be explicitly defined.  Unless there is a reason not to do so, I am going to close this issue.

[2019-10-29 10:51] shehi commented on #50
Works fine! Thanks.

[2019-10-29 10:51] #50 closed

[2019-10-29 10:51] #51 closed

[2019-10-29 10:51] shehi commented on #49
Looks good. Thanks.

[2019-10-29 10:51] #49 closed

[2019-11-06 22:15] mmcev106 opened #52 "Would it make sense to associate resources by reference?"
In my current use case I'm building a **FHIRQuestionnaireResponse** that involves nesting a bunch of  **FHIRQuestionnaireResponseItem** instances.  Since **FHIRQuestionnaireResponseItem::addItem()** does not accept items by references, I am not able to modify an item after adding it to another item (or the parent response).  I think that means I'm going to have to do my data manipulation using nes

[2019-11-07 03:06] dcarbone commented on #52
@mmcev106 I'm not sure what you mean, objects are always passed by reference in PHP.  Are you wanting to re-define the reference?

See here for an example of what i mean: https://3v4l.org/rYmCg

Could you provide a small example of what you're running into?

[2019-11-07 21:32] mmcev106 commented on #52
Redacted.  As you might have expected, I was just doing something silly with references that it took me a while to find.  Closing...

[2019-11-07 21:32] #52 closed

[2019-11-14 21:49] mmcev106 opened #53 "Extra "value" child elements in 1.0.1"
The `status` of a `FHIRComposition` was previously JSON encoded as follows:
[code]

In 1.0.1 this changed to the following, which does not follow the R4 spec:
[code]

Another example is `system` under `FHIRContactPoint`.

I'm hoping to make time to work on a fix for this myself, but that could take a while so I wanted to go ahead and report it.

[2019-11-15 20:08] dcarbone commented on #53
This and #28 stem from the same source.  I need to implement a system that identifies "value container" elements properly, such that their value is output as attributes / direct values to their containing object's field / element, but also be able to output the other data present on every element within FHIR.

This release introduced the ability to parse the `_{field}` input from JSON, which was m

[2019-11-16 18:48] dcarbone commented on #53
@mmcev106: i have finished an update to the generator that I believe takes care of this bug.  I will create a new release once tests have passed, most likely later this evening.

[2019-11-17 04:56] dcarbone commented on #8
@kchapple I know its been ages, but I have finally finished the initial implementation for this feature.  Could you give v1.0.5 a try and see if it is sufficient?

[2019-11-17 04:57] #26 closed

[2019-11-17 04:57] dcarbone commented on #26
Closing as I believe this to be resolved.

[2019-11-17 04:58] dcarbone commented on #28
@garywarner & @leonrenkema: I have release v1.0.5 with the express intent of providing better support for this.  Could you give v1.0.5 a try and see if it behaves as you expect?

[2019-11-17 04:59] dcarbone commented on #33
Closing as this is no longer an issue.

[2019-11-17 04:59] #33 closed

[2019-11-17 05:00] dcarbone commented on #38
Closing as this is now implemented.

[2019-11-17 05:00] #38 closed

[2019-11-17 05:03] dcarbone commented on #40
@garywarner Is the new updated generator working for you?

[2019-11-17 05:04] dcarbone commented on #41
Closing as I believe this to be resolved.

[2019-11-17 05:04] #41 closed

[2019-11-17 05:04] dcarbone commented on #53
@mmcev106: Could you give v1.0.5 a try and see if the output looks as you would expect?

[2019-11-18 09:25] LucidTaZ commented on #38
Hi @dcarbone, it works now, thanks!

Code sample that shows the fix:

[code]

[2019-11-18 12:41] dcarbone commented on #38
@LucidTaZ: good to hear!  let me know if you find any issues with the new version!

[2019-11-19 20:15] mmcev106 commented on #53
It looks like 1.0.5 reverts back to a previous behavior where the `value` elements are correct, but other elements are missing.  The latest revision of the following gist shows missing `system` values being manually added make a Bundle I'm working on valid:

https://gist.github.com/mmcev106/b80ab4b70063ec53b09e5503d755192a/revisions

Let me know if I can provide any more info, or if you know the s

[2019-11-19 20:18] dcarbone commented on #53
@mmcev106: I'm not sure I understand, the provided bundle has no `"system"` keys in it.  Where are you deriving this value from?

[2019-11-19 20:26] mmcev106 commented on #53
The two missing `system` values in the example are under the following resources within the Bundle:

https://www.hl7.org/fhir/datatypes.html#Identifier
https://www.hl7.org/fhir/datatypes.html#ContactPoint (under `telecom` in the export)

I just did a little more testing and serializing the `FHRIdentifier` and `FHIRContactPoint` objects directly includes the system value correctly.  I think the pro

[2019-11-19 20:28] mmcev106 commented on #53
I can come up with a succinct example if that's still not quite clear.

[2019-11-19 20:31] dcarbone commented on #53
@mmcev106 hmm maybe i'm missing something here.  is that bundle present in your gist generated by my code or is that one you provided?

If its generated by my bundle, then that's something I can look at.

If its something you provided, then as i said above: there are no system keys in that bundle:

as an example from your gist:

[code]

Either way, I'll have a look at it tonight to make sure its w

[2019-11-19 20:33] dcarbone commented on #53
Ah nevermind, i see the updated bundle.  Apologies, was looking at an outdated version.

[2019-11-19 20:42] dcarbone commented on #53
@mmcev106: so in my quick testing, it is being output as such:

[code]

This is definitely a bug, I will work on something tonight.

[2019-11-23 17:40] dcarbone commented on #53
[code]

[2019-11-23 17:41] dcarbone commented on #53
I think I've got it, will push a new build and let tests happen

[2019-11-24 16:15] dcarbone commented on #53
@mmcev106: apologies, this will take a bit longer than I had hoped.  I made some assumptions early in the rewrite of this lib that are biting me now, will hopefully have something either today or later this week.

[2019-11-26 16:02] mmcev106 commented on #53
Even just responses to questions are much appreciated, so please don't feel rushed.  If it's anything you'd like to pass off, I'd likely get to it eventually.

[2019-11-29 23:40] dcarbone commented on #8
Closing this issue as `"fhir_comment"` json entries are now handled.

[2019-11-29 23:40] #8 closed

[2019-11-29 23:44] dcarbone commented on #53
@mmcev106: alright, I have release v2.0.0 which, i believe, finally handles these sorts of issues.  I went with a major release vs a minor as I also refactored the generation a bit so `-list` type classes are now underneath the primitive they extend in the namespace hierarchy.

Let me know if you have any issues with this version, and thank you again for being patient and helping me test this!

[2019-12-03 11:23] shehi opened #55 "Underscore properties (e.g. _xmlns) should be private"
Hey @dcarbone ,

It's me again :) I have been extensively working with your FHIR libs - so before I start: THANK YOU  greatly for creating them. Keep up the awesome work! :heart:

As you might remember from my earlier issues created, I have been implementing your libraries in Doctrine environment by extending them on my MongoDb-ODM document-classes. In past, we turned public properties into protec

[2019-12-03 13:19] dcarbone commented on #55
I agree. I originally had them private but made them protected for #49.  If these aren't wanted in models, I will make them private again.

[2019-12-04 17:31] mmcev106 commented on #53
I just tested v2.0.2 and it seems to match the spec perfectly in our use cases.  Thank you very much!

[2019-12-04 17:31] #53 closed

[2019-12-04 17:33] dcarbone commented on #53
@mmcev106 excellent!  I have a new version in the works that further improves upon this issue, but i'm running into bizarre issues with the hapi fhir endpoint returning seemingly malformed json bodies.

haven't had a chance to dig in much yet.  will hopefully have an improved release this weekend that includes some basic validation and fhir_comment output when serializing.

[2019-12-07 16:48] dcarbone commented on #55
@shehi: just pushed v2.0.3 with these changes. Let me know if you run into any other issues!

[2019-12-07 16:48] #55 closed

[2019-12-16 12:57] shehi opened #56 "Resource properties should be private?"
Hey @dcarbone ,

I have a question regarding a so called resource classes, e.g. ```FHIRDomainResource``` which introduce their own set of properties. ```Patient``` and similar classes extend from that class, but of course the properties coming from parent ```FHIRDomainResource``` have nothing to do with ```Patient``` (at least as far as I can see in FHIR docs). Properties like ```$contained```, or

[2019-12-16 14:01] dcarbone commented on #56
They’re there as the child classes extend them as part of the FHIR spec. I do not arbitrarily do this; if you have a look at the fhir definition xsd’s, you’ll see what i mean.  The generator is a blank slate, it makes no assumptions as to hierarchy, and only defines a class as a child if the xsd defines it as having a base class.

I am away from a computer at the moment, but I will link an example

[2019-12-16 14:04] dcarbone commented on #56
Additionally, every single type in the FHIR spec with the exception of primitives can be overloaded using extensions. This is true all the way down to simple types, such as FHIRString and etc.

Many places define their own profiles that extend the base types. This is accomplished, according to spec, via adding one or more extension entries to the type they are extending.

[2019-12-16 14:48] shehi commented on #56
Yea, please gimme some links to make heads and tails out of this thing. As far as I can see XSDs, e.g.
http://hl7.org/fhir/patient.xsd , I still fail to see mention of Domain resource anywhere. At the end of the day, I need to implement resources like ```Patient``` or ```Practitioner``` the way their content are described in Docs, by just seeing this picture:

![image](https://user-images.githubus

[2019-12-16 15:28] dcarbone commented on #56
@shehi look again at the picture.  First two lines inside the `<Practitioner />` opening element:

[code]

I don't think I should arbitrarily omit certain fields from types.  Would it be possible to see your schema design?  Additionally, what does your current schema structure look like?  Are you manually adding doctrine's orm annotations to fields?

I've been considering adding orm annotations as

[2019-12-16 15:30] shehi commented on #56
For the moment, things are quite manual, but not that slow. Example for ```Patient```:
[code]

And no, please don't add Doctrine annotations :)

[2019-12-16 15:40] dcarbone commented on #56
I'm not entirely certain what you mean by pollution; the fields are a part of the type.  What problems is it causing you, specifically?

One possible guess at a solution would be to define a trait in your extended classes that overloads the base methods as you have done in your child class.  This trait could be re-used in all of your child classes, without the need to re-define the methods / annot

[2019-12-16 15:40] shehi commented on #56
Currently, I successfully save these docs to MongoDb. Screenshot for you:

![image](https://user-images.githubusercontent.com/653569/70920310-aa845e80-2022-11ea-9fba-da6f65cbc3b1.png)

![image](https://user-images.githubusercontent.com/653569/70920364-c556d300-2022-11ea-89df-c89dfd8ae323.png)

[2019-12-16 15:44] shehi commented on #56
Well, I only need to implement what I see in Structure and UML diagrams:

![image](https://user-images.githubusercontent.com/653569/70920657-3b5b3a00-2023-11ea-8eb0-26cb15f844b4.png)

![image](https://user-images.githubusercontent.com/653569/70920696-4ada8300-2023-11ea-87f9-1503d0b3d26f.png)

Everything else is just those extensions and profiles I don't need in my current implementation.

[2019-12-16 15:46] shehi commented on #56
Even test repo searches don't talk about these "fields": http://test.fhir.org/r4/Patient/_search

So, overall, my API consumers shouldn't made confused because of them. Ok, I guess you can't remove them then. :)

[2019-12-16 15:57] dcarbone commented on #56
Ok, so a couple things:

First, what are you using to generate the swagger doc json?  https://github.com/zircote/swagger-php?  I'm quite familiar with this package, and I have often thought of adding its annotations as part of the generation.  Would take a little bit, but overall would be fairly straightforward.  Let me know if that is something that would be helpful to you.

Secondly, simply beca

[2019-12-16 16:06] shehi commented on #56
I use API-Platform (api-platform.com) which does all the automation. It's basically Symfony 4 with Flex (autowiring and all that niceties). I don't touch Swagger stuff. The whole idea is to automate as much as possible and make things as fast as possible for prototype/MVP creation.

I agree to an extent. You are right by "somebody somewhere". I believe they are a "gray area" useful only for those

[2019-12-16 16:07] #56 closed

[2019-12-16 16:10] shehi commented on #56
Regarding the last bit above: as long as we have setter/getter pairs in the code, Doctrine will include those fields in ApiResources. Since we can't get rid of accessors/mutators even if we declared those props private, I guess the best course of action is to use Serialization in Symfony.

[2019-12-17 12:47] dcarbone commented on #56
@shehi let me know if I can help, or if there is something else I can add to the generated output to assist with your efforts!

[2019-12-17 13:16] dcarbone commented on #56
@shehi reviewing this post: it is odd that those fields are being picked up _at all_...

I wonder if that is a peculiarity with api-platform.  Doctrine _should_ entirely ignore properties on classes that are not explicitly reference by either annotation or external schema definition.  It has been awhile since I used doctrine annotations (i really like doctrine, though, my favorite orm / dbal layer

[2019-12-18 09:14] shehi commented on #56
Yea, that's what I meant above: Serialization :)

[2019-12-20 13:42] shehi opened #57 "_fieldValidation property as protected"
@dcarbone , hello!

If possible, let's have ```_fieldValidation``` field of code-primitive-list types with ```protected``` access please - currently, they are ```private```. Sample classes are almost all of them ending with ```List``` in their classnames (e.g. ```FHIRNameUseList```). Last time we discussed the topic of validation, you said it might take some time until you finalize it. So I am att

[2019-12-20 14:17] dcarbone commented on #57
@shehi: i am hesitant to make it protected as in the future I will be making it private again once i finish the validation.  I have quite a bit of work done towards that end and should be able to finish it up this weekend.

Does that sound good?  I don't foresee any major roadblocks that would prevent me from finishing it.

[2019-12-22 07:55] dcarbone commented on #57
@shehi: i have just released v2.0.4 with basic validation implemented.

[2019-12-22 07:55] #40 closed

[2019-12-22 07:56] #28 closed

[2019-12-26 14:58] shehi commented on #57
Works fine. Thanks a lot!

[2019-12-26 14:58] #57 closed

[2020-01-02 14:29] leonrenkema commented on #28
Thanks for the updates!
When I test 1.0.5 I see an extra attribute in the XML output on several places. This is on several elements, FHIRIdentifier, FHIRQuantity.
[code]
This is generated with a simple setQuantity().
In FHIRQuantity I see the following line code that is most likely the source of this extra attribute:
[code]

[2020-01-02 14:43] dcarbone commented on #28
@leonrenkema: i intentionally put it in both places just for simplicity's sake for the time being.  Is causing issues?  Also, have a go at the v2 release, quite a bit of improvements in there over the v1 releases.

[2020-01-02 15:07] leonrenkema commented on #28
When I try 2.0.5 I see the same generated code, problem is that the generated XML is not according to spec.

When I check the following generated XML:
[code]
I see the following validation errors. Also there are some errors about the order of the elements that are not according to the specs.
[code]

[2020-01-02 15:40] dcarbone commented on #28
what are you using for your validation testing?  I'd like to add it to the phpunit tests.

element order would be...very tedious to implement.  is that something that is truly required?

[2020-01-02 16:24] leonrenkema commented on #28
It is a Java jar file that you can download here, https://wiki.hl7.org/Using_the_FHIR_Validator. I think it would be difficult to implement in phpunit. But we can generate some validated examples and use that as comparison.

[2020-01-02 16:32] dcarbone commented on #28
I had assumed it was a java utility based on the output. I would not re-implement it in php, more i would shell out to it and rest the return.

I'll have a look at it this weekend.

[2020-01-17 07:09] tbitowner opened #59 "0.5.x might be missing a file"
Using tag 0.5.2 now, which includes file https://github.com/dcarbone/php-fhir/blob/0.5.2/src/ClassGenerator/Config.php. The dev branch, 0.5.x, seems to be missing this file.

[2020-01-17 17:56] dcarbone commented on #59
@tbitowner yeah the 0.5.x branch hadn't been used in ages, i did the final amount of 0.5 work in master.

I have merged all of 0.5.2 into 0.5.x branch.  i won't be doing any more active development on that version.

[2020-01-17 17:56] #59 closed

[2020-01-17 20:52] hendeavors commented on #59
Thanks @dcarbone  . Meant to post the original as this account 😞. This gives me a starting point to upgrade my own libraries dependent on this project. Excellent work.

[2020-01-29 16:15] leonrenkema opened #60 "Extra attribute in element"
We are using version 2.0.5 of the generated library and when we are generating a dosage the doseQuantity contains an extra `value` attribute. I'm not sure if I have reported this earlier, I could not find an previous issue.

[code]

When validating it produces this error:
[code]

[2020-01-29 16:25] dcarbone commented on #60
@leonrenkema: this is a known issue at this point, and i am attempting to address it with the current work being done in Master.  Part of that is adding phpunit tests that execute and test the output of the upstream java validator.

Unsure as to when I'll be able to finish it, but work is being done.

[2020-01-29 21:52] leonrenkema commented on #60
Thanks for the quick reply.
Keep me informed when there is any progress or when I can test something

[2020-04-02 14:21] leonrenkema opened #63 "Xmlns not filled"
Thanks for the quick replies on the pull requests!

We also had to revert this change (https://github.com/dcarbone/php-fhir/commit/9d5d58b37ab3cb750d952c9f03ba438fb4ec230a#diff-19e00af0788a0bd19f34a533b75b49e1L81) because the xmlns of the root element remains empty.

[2020-04-02 14:29] dcarbone commented on #63
Yeah, the current state of master is halfway between a fairly large update that aims to achieve output that would be (closer to) passing the upstream validator.

I've had to get over certain opinions of mine, such as that object fields must be alphabetized for easier scanning and a few other things, but ultimately it'll make for a better lib so w/e, lol.

All that to say, it'll be a bit in flux fo

[2020-04-19 15:30] phpmike opened #64 "There is a mistake with _getFHIRXMLNamespace method generation"
return is duplicated, I'll send a pull request to resolve it.

[2020-04-19 15:43] phpmike commented on #64
Sorry it is already corrected, I close.

[2020-04-19 15:43] #64 closed

[2020-05-01 16:00] dennisverspuij opened #65 "Support parsing"
Hi, I am looking for a PHP FHIR client model code generation library that supports profiles other than core STU3/R4. This library looks great - and about the only one for PHP - but unfortunately generates code based on the xsd's instead of xml/json structure definitions, like the libraries for other languages do.
I was wondering why it was chosen to do so, and whether or not is is possible or plan

[2020-05-01 17:54] dcarbone commented on #65
The xsd's were chosen as they define the spec.  You need to have prior knowledge of the spec in order to parse profiles.

Enabling parsing from an arbitrary profile is definitely possible, but not trivial.  It is something I can look at, but I am not planning on dedicating significant time to this project in the near term.

If you wish to work on a PR or provide sponsorship, either would provide a

[2020-05-02 08:19] phpmike commented on #65
Hi, I'm also interested in for French implementation.
https://simplifier.net/frenchprofiledfhirar

[2020-08-18 22:48] SobhieSaad opened #66 "Get nodes details from FHIR after parsing"
Hi there,
Is there a way to reach "Patient" node without convetting the response to json with json_encode in PHP after :
$parser->parse($input) ;
I got PHPFhirResponse interface abd I need to reach the patient node without json encode.

[2020-08-20 14:25] dcarbone commented on #66
@SobhieSaad: I'm not sure I understand the problem here.  If you need to get to a child object, you'll need to use the relevant getter methods to traverse the tree to get to the object you want.

Could you provide a code sample that illustrates what you're trying to do?

[2020-08-20 14:32] SobhieSaad commented on #66
@dcarbone no problem I found it. Thank you and will close the issue. Yes it is using getters.

[2020-08-20 14:32] #66 closed

[2020-08-26 12:54] leonrenkema commented on #24
It looks like this fix is reverted, we are seeing htmlencoded xml inside the `<div>` when serializing to XML.
The JSON looks good.

[2020-08-26 13:11] dcarbone commented on #24
@leonkrema thanks for reporting this. one question: are you pulling from master?  if so, i am in the process of replacing SimpleXML with DOMDocument for xml manipulation, and it is not quite finished yet.

I unfortunately won’t have time to continue work on this until later in the week, so for the moment it may be better to use the latest tagged version.

[2020-08-26 13:12] dcarbone commented on #24
@leonrenkrema sorry used my phone to comment, got your name wrong :/

[2020-09-21 09:57] jnederhof opened #67 "_assertMaxLength reports an error for values lower than max length."
_assertMaxLength in phpfhir_validation_assertions.php reports an error for values lower then max length.

`"Field \"value\" on type \"id-primitive\" must be no more than 64 characters long, 1 seen"`

[2020-09-21 16:26] dcarbone commented on #67
@jnederhof: yep, got my signs backwards. i'll get a fix pushed tonight.

[2020-10-06 07:57] jnederhof commented on #67
Great. Any chance you can push it this week?

[2020-10-09 12:09] dcarbone commented on #67
@jnederhof give v2.0.6 a try please.

[2020-11-16 10:23] jnederhof commented on #67
Thanks. It works as intended!

[2020-11-16 10:23] #67 closed

[2021-02-26 13:40] raymondschouten opened #68 "Autoloaded file `files/errors.php` changes application behavior"
I'm using this library in an Symfony application, and I noticed that my application doesn't run at all anymore after upgrading to Symfony 5.0. After debugging I found out that the culprit is the `files/errors.php` file that "just" replaces the PHP error handler that converts everything (notices, warnings, deprecations, etc.) to `ErrorException`'s, which are fatal errors.

This file is automaticall

[2021-02-26 14:47] dcarbone commented on #68
Hmm, what was the actual issue you encountered with Symfony 5?  This code has been in there for quite some time; does symfony 5 specify its own php error -> exception handler that overrides this?

[2021-02-26 15:28] raymondschouten commented on #68
No, it relies on the default behavior of PHP for enabling the Zend assertions for debugging:
[code]
Whenever the `php.ini` has this value configured with `-1` (which is usually the default) it means that the `zend.assertions` cannot be enabled at runtime which emits a warning. Symfony decided to ignore the warning, as it doesn't really matter if it cannot be enabled.

But now when including the Dc

[2021-02-26 15:48] dcarbone commented on #68
if memory serves, this was added to prevent an issue presented when switching to the `require_with` mechanism of enforcing specific variable scoping during code generation.  there are no catches for this as, within the workflow of php-fhir, these exceptions denote actual problems that must be resolved and cannot be "handled".

i agree, it could have been implemented better, but as the saying goes

[2021-02-26 18:05] raymondschouten commented on #68
I'm currently using the latest version available, and I'm unfortunately not understanding the `require_with` part you are describing to be able to come up with a PR...

[2021-02-26 19:34] dcarbone commented on #68
its primary purpose is to enforce a smaller scope for variables defined during component template inclusion.  by and large, its a wrapper around the built-in `require`.

[2021-02-27 21:36] dcarbone commented on #68
@raymondschouten sorry, did not mean to close this.

I have created v2.0.7 with a small change where the error handler is only overridden during generation.  Could you please test v2.0.7 and see if this resolves your symfony 5 compatibility issue?

[2021-03-01 07:30] raymondschouten commented on #68
Thank you very much for you very quick response to my issue, your fix is simple and clean and works like a charm. Keep up the great work!

[2021-03-01 07:30] #68 closed

[2021-03-11 23:25] TomAshe opened #69 "Post 2.0.5 release"
Hello!

Was wondering if there are any plans for a post 2.0.5 release?

Are there issues with the commits post-2.0.5 preventing a new release?

I was looking to use this (well, actually the php-fhir-generated version), but encountered an issue where Significant Digits are lost for Decimal numbers.

Looks like this was address, though, by this commit last June: https://github.com/dcarbone/php-fhir/

[2021-03-12 01:05] dcarbone commented on #69
@TomAshe: yes, there absolutely is!  Time has gotten the best of me, a bit, and I've been quite busy.

I actually have all next week off work, and I had planned on doing some cleanup items around this repo with the intent of cutting a v3 release with SimpleXML replaced with DOMDocument, as well as a few other improvements.

That specific change, however, is fairly small and I believe it should be

[2021-04-05 22:37] htrejos opened #70 "Permission denied"
I installed php-fhir in a directory with the same name, using composer on a linux server. Then created a php file to create the classes, just like the example. The problem is that I can't even upload the file with ftp as the permission is denied; then I upload it using CPanel, but when running it I get errors related to permissions too.

[2021-04-06 05:02] htrejos commented on #70
Problem solved uploading files from server root

[2021-04-06 05:02] #70 closed

[2021-07-26 13:32] dcarbone commented on #69
@TomAshe: hey Tom, sorry it took so long but I finally got around to backporting the changes necessary to address this problem into the v2.x line.

Please see if release v2.0.8 fixes things for you!

[2021-08-06 10:37] phackwer opened #72 "Database model"
Hi, is there a way to generate database model from those FHIR Resources objects? Is there another project that we could see with this being done? Thanks

[2021-10-13 15:07] MajorTennis opened #73 "Running generate.php and getting Logger related compatibility errors"
Hi There

I am following the steps in the read me and encountering:

php ./bin/generate.php
PHP Fatal error: Declaration of MyENA\DefaultLogger::log($level, $message, array $context = []) must be compatible with Psr\Log\AbstractLogger::log($level, Stringable|string $message, array $context = []): void in C:\xampp\htdocs\php-fhir\vendor\dcarbone\php-fhir\vendor\myena\default-logger\src\DefaultLogge

[2021-10-16 20:00] dcarbone commented on #72
Hi @phackwer, the intent of this project was never to build database entities as different ORM implementations have wildly different requirements and structures.

There are probably some projects out there that accomplish this task, but it is beyond the scope of this library at the moment.

[2022-02-11 07:21] Jxckaroo opened #76 "Issue running"
Hello!

I am having a few issues trying to get this running & I think it might be because one of your dependencies requires PHP8?

[code]

Parameter #1 expects type VersionConfig.

Am I missing something? :)

[2022-02-12 05:44] dcarbone commented on #76
@Jxckaroo hmm, yes apologies looks like I haven't properly updated the README in quite some time!  I'll get a fix pushed asap :)

[2022-07-16 11:45] iBotPeaches opened #79 "Thank you!"
Very cool package and thankful it existed. Perfect generation of R4 and saved a lot of time. Thanks!

[2022-07-16 11:45] #79 closed

[2022-09-09 22:04] sjpadgett opened #80 "R4 Builder throws exception Enum"
PHP 8.1
[09-Sep-2022 22:00:22 UTC] PHP Fatal error:  Uncaught UnexpectedValueException: Value 'AccountStatusEnum' is not part of the enum DCarbone\PHPFHIR\Enum\PrimitiveTypeEnum in C:\xampp\htdocs\php-fhir\vendor\myclabs\php-enum\src\Enum.php:245
Stack trace:
#0 C:\xampp\htdocs\php-fhir\vendor\myclabs\php-enum\src\Enum.php(73): MyCLabs\Enum\Enum::assertValidValueReturningKey('AccountStatusEn...')

[2022-10-11 19:16] SkyKnight commented on #80
I have same exception. Using newest source code from master branch.

[2022-10-11 20:17] sjpadgett commented on #80
Looks like anything past rel 4.0.1 is not yet supported.

[2022-10-30 02:04] #73 closed

[2022-10-30 02:08] #76 closed

[2022-10-30 02:10] dcarbone commented on #80
@sjpadgett @SkyKnight apologies for the lack of v4.3.0 support.  I've updated master with the result of the last year or so of effort to modernize the output of this generator, and included the fix for this there.

If you could, please try the version in master and let me know if that addresses things for you.

[2022-10-30 02:13] dcarbone commented on #24
@leonrenkema I'm not sure if you're still using this package, but I have updated master with a version that _should_ address this for you.

If you could, please give it a try and let me know if it addresses the issue for you.

[2022-11-03 10:53] leonrenkema commented on #24
Hi,

I have tested it against the latest master and the R4 specs. But it is not working as expected.

[code]

This is what I am getting.
[code]

To be honest I do not get where the `<body>` and `<html>` tags come from.

For comparison when I generate the same xml with the C# library it produces the output like this:

[code]

[code]

[2022-11-03 13:12] leonrenkema opened #82 "TypeError : strlen(): Argument #1 ($string) must be of type string, bool given in FHIRTiming"
I am getting the following error `TypeError : strlen(): Argument #1 ($string) must be of type string, bool given` when trying to parse a FHIRTiming object with the following input data:

[code]

The error is caused by a check if there are decimals. When there are no decimals `strstr` will return false and `strlen(false)` will produce this error.

https://github.com/dcarbone/php-fhir/blob/master/te

[2022-11-03 13:53] dcarbone commented on #82
Thanks for reporting this, I'll get it fixed asap.  I'm sure there are more than a few small issues like this throughout this update.

[2022-11-03 14:03] dcarbone commented on #24
oh very weird...alright, i'll take a look at that.  that xml type was written fairly quickly, so I'm sure i messed something up somewhere.

[2022-11-03 14:05] dcarbone commented on #82
This should be addressed with #83

[2022-11-03 15:07] leonrenkema commented on #82
Thanks for the quick response. I have tested it and it works.

[2022-11-03 16:25] leonrenkema commented on #82
Sorry to reopen it but I see some behaviour that is related.

You default to `$this->_decimals = 1;` and this has a side effect that the generated XML has `1.0` as value when the input is `1`

[code]

[code]

Is this indented behaviour?

[2022-11-03 17:09] dcarbone commented on #82
Sure, its a decimal value.  I don't remember specifically where I saw this, but I believe FHIR decimals must always be represented as such.

[2022-11-03 18:04] leonrenkema commented on #82
Maybe it does not matter but for me it looks like added precision where it is not there.
And I wonder if it also happens when the type is defined as a positiveInt.

I can make a testcase for that to check it and how it validates.

[2022-11-03 23:30] dcarbone commented on #82
@leonrenkema ah but as mentioned earlier, the `PositiveInt` type is grouped together with other `Integer` types into their own specific primitive type.

You can see the logic that determines which primitive type goes with which class in [this template file](https://github.com/dcarbone/php-fhir/blob/master/template/properties/methods/primitive.php#L60).

[2022-11-03 23:32] dcarbone commented on #82
i think the decimal class could do with some improvements in general...

[2022-11-07 08:36] leonrenkema commented on #82
@dcarbone I see, the PositiveInt type works with another Primitive type so that is no problem.

The specification has some notes about precision and the decimal type. https://hl7.org/fhir/datatypes.html#decimal

_The precision of the decimal value has significance:_
- _e.g. 0.010 is regarded as different to 0.01, and the original precision should be preserved_
- _Implementations SHALL handle decim

[2022-11-07 16:04] dcarbone commented on #82
@leonrenkema I think there are a few things to decide here:

1. If you provide a non-float value to a float register, what is the desired outcome?
   * Personally, I would much prefer a float always be a float.  Sometimes being a float and sometimes being an integer produces ambiguity I am not OK with.
2. The only possible other functional storage medium for this value is a string. This is not an

[2022-11-08 08:17] leonrenkema commented on #82
Maybe an option is to use two integer fields, one for the whole number part and one for the decimal part. Then there is no loss of precision or other floating point "magic".

There is a php decimal type library somewhere. I will take a look into it.

[2022-11-08 12:56] dcarbone commented on #82
no, as mentioned ints will not work unless we store three, one for whole number, one for decimal value, and one for precision. as mentioned in their example, we must be able to represent `1.01` and `1.010` as distinct values.

a decimal library will have the same floating point issues. fp's are simply difficult. and, as mentioned, once serialized from and into json, all of our additional efforts h

[2022-11-17 04:02] dcarbone commented on #82
Does it serialize it as a string or as a numerical value?

[2022-11-17 08:42] leonrenkema commented on #82
It does serialize back to a numerical value, that is interesting.

![image](https://user-images.githubusercontent.com/497194/202397267-cd371b9f-391a-41b4-aab5-fcb870f23378.png)

Even when I use `"valueDecimal": 42.47000` as input it still keeps the precision. So there is a lot going on with parsing in that library. I am not sure if that can easily be build in PHP with the default json_decode/json_

[2022-11-18 16:20] dcarbone commented on #82
Yeah...I'd never before encountered a JSON encoding / decoding library that kept precision past the last significant digit.  I'm not really sure that is something we can "solve" here, especially as I can't imagine it is computationally important to do so...

[2022-11-18 16:42] leonrenkema commented on #82
No that is not fixable without another json parser.

I get it from a scientific perspective, when you send 1.000 you are very sure that is has that precision. It is different from just 1.

So when sending lab results it can make a difference in theory. But we don't use it and our dosings will not use such a precision.

[2022-11-20 04:50] dcarbone commented on #82
@leonrenkema would you be OK closing this issue?  I'm not sure this is worth "fixing" within the realm of PHP until a different json serializing / unserializing mechanism becomes available to us.

[2022-11-21 08:54] leonrenkema commented on #82
Yes, this is not easy to fix.

[2022-11-21 08:54] #82 closed